  <!DOCTYPE html>
  {% load static %}
  <html lang="ko">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Portfolio{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  </head>
  <body>
      <div class="layout">
          <nav class="left-sidebar">
              {% include "partials/l_side_nav.html" %}
          </nav>
          <main class="main-content">
              {% block content %}{% endblock %}
          </main>
          <aside class="right-sidebar-wrapper">
              {% include "partials/r_side_bar.html" %}
          </aside>
      </div>
      {% include "partials/footer.html" %}
  </body>
  </html>